body{
    background-color: black;
    height: 100vh;
}
.flex-container{
    display: flex;
    flex-direction: row;
    height: 100px;
    color: white;
}
@keyframes letr1-portn1 {
    0%{transform: rotate(180deg);}
    100% {transform: translate(530px,320px);}
    100%{width: 10px;height: 75px;}
}
@keyframes letr1-portn2 {
    0%{transform: rotate(180deg);}
    100% {transform: translate(530px,350px);}
    100%{width: 40px;height: 10px;}
}
@keyframes letr1-portn3 {
    0%{transform: rotate(180deg);}
    100% {transform: translate(510px,320px);}
    100%{width: 40px;height: 10px;}
}
@keyframes letr2-portn1 {
    0%{transform: rotate(180deg);}
    100% {transform: translate(530px,340px);}
    100%{width: 10px;height: 55px;}
}
@keyframes letr2-portn2 {
    0%{transform: rotate(180deg);}
    100% {transform: translate(520px,320px);}
    100%{width: 10px;height: 10px;}
}
@keyframes line {
    25%{height: 5px; width: 0px; background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);}
    50%{height: 5px; width: 500px; background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);}
    75%{height: 5px; background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);}
    100%{height: 5px; width: 1000px; background-image:linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);}
}
@keyframes nam {
    0%{transform: rotate(180deg);}
    100% {transform: translate(530px,218px);}
}
@keyframes decenr {
    0%{transform:translateX(530px);}
    75% {transform: translate(530px,150px);}
    100%{transform: translate(530px,218px);}
}
.letr1-portn1{
    width:0px;
    height:0px;
    background-color: white;
    animation-name: letr1-portn1;
    animation-duration: 6s;
   /* animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;
    animation-delay:-1.5s;
}
.letr1-portn3{
    width:0px;
    height:0px;
    background-color: white;
    animation-name: letr1-portn1;
    animation-duration: 6s;
    /*animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;
    animation-delay:-1.5s;
}
.letr1-portn2{
    width: 0px;
    height: 0px;
    background-color: white;
    animation-name: letr1-portn2;
    animation-duration: 6s;
   /* animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;
    animation-delay:-1.5s;
}
.letr2-portn1{
    margin-left: 15px;
    width: 0px;
    height: 0px;
    background-color: white;
    animation-name: letr2-portn1;
    animation-duration: 6s;
   /* animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;
    animation-delay:-1.5s;
}
.letr2-portn2{
    width: 0px;
    height: 0px;
    background-color: white;
    animation-name: letr2-portn2;
    animation-duration: 6s;
    /*animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;
    animation-delay:-1.5s;
}
.nam-letr1{
   font-size: 55px;
   animation-name: nam;
   animation-duration: 6s; 
   animation-fill-mode: forwards;
   animation-delay:-1.5s;
}
.line{
    transform: translate(250px,310px);
    animation-name: line;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.decenr{
   font-size: 55px;
   animation-name: decenr;
   animation-duration: 6s; 
   animation-fill-mode: forwards;
   animation-timing-function: ease;
   animation-delay:-0.5s;
}
